/*
	File :: grid-fluid.less
	----------------------------------------------------------
	
	Author: Ryan Scherler
	
------------------------------------------------------------------------------- */

@maxWidth: 1140px;
@gutterWidth: 20px;
@cols: 12;

.container-12-fluid {
	
	.row {	
		
		width: 100%;
		max-width: @maxWidth;
		margin-left: auto;
		margin-right: auto;
		
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;   
		}
	
		.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {		
			float: left;
			margin-left: percentage(@gutterWidth / @maxWidth);
			margin-right: percentage(@gutterWidth / @maxWidth);		
		}
		
		.grid-1 { .width(1); }		
		.grid-2 { .width(2); }		
		.grid-3 { .width(3); }		
		.grid-4 { .width(4); }		
		.grid-5 { .width(5); }		
		.grid-6 { .width(6); }		
		.grid-7 { .width(7); }		
		.grid-8 { .width(8); }		
		.grid-9 { .width(9); }		
		.grid-10 { .width(10); }		
		.grid-11 { .width(11); }		
	
	}

}

.width(@col) { width: percentage((((@maxWidth / @cols) * @col) - (@gutterWidth * 2)) / @maxWidth); }

/* !Smaller Screens */

@media screen and (max-width: 720px) {
	
	.container-12-fluid {
	
		.row {
		
			.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
				width: auto;
				float: none;
				margin-left: 0;
				margin-right: 0;
				padding-left: @gutterWidth;
				padding-right: @gutterWidth;
			}			

		}

	}

}