/*
	File :: main.less
	----------------------------------------------------------
	
	Author: Ryan Scherler
	
------------------------------------------------------------------------------- */

/* !General */

body, select, input, textarea, button {
	background: @black;
	font-family: "Goudy Bookletter 1911", serif;
	color: @white;
}

/* !Links */

a {

	color: @white;
	.transition(color 0.25s ease);
	
	&:hover { color: darken(@black, 10%); }
	&:link { -webkit-tap-highlight-color: @black; } 
	
}

/* !Selection */

::-moz-selection { background: @yellow; color: @black; text-shadow: none; }
::selection { background: @yellow; color: @black; text-shadow: none; } 

ins { background-color: @black; color: @black; text-decoration: none; }
mark { background-color: @black; color: @black; font-style: italic; font-weight: bold; }

/* !Image Scaling */

img, object, embed { 
	max-width: 100%; 
	height: auto;
}

/* !Clear Floats */

.clearfix {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;   
	} 
}

/* !General */



/* !Smaller Screens */

@media screen and (max-width: 800px) {
	
	

}

@media screen and (max-width: 480px) {

	

}