/*
	File :: main.less
	----------------------------------------------------------
	
	Author: Ryan Scherler
	
------------------------------------------------------------------------------- */

/* !General */

body {
	font-family: "Lato", Geneva, Helmet, Freesans, sans-serif;
	background: @offWhite;
}

body, select, input, textarea, button {
	font-family: "Lato", Geneva, Helmet, Freesans, sans-serif;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	color: @black;
}

/* !Links */

a {

	color: @blue;
	.transition(color 0.25s ease);
	
	&:hover { color: lighten(@blue, 25%); }
	&:link { -webkit-tap-highlight-color: @black; } 
	
}

/* !Selection */

::-moz-selection { background: @gray; color: @white; text-shadow: none; }
::selection { background: @gray; color: @white; text-shadow: none; } 

ins { background-color: @gray; color: @black; text-decoration: none; }
mark { background-color: @gray; color: @black; font-style: italic; font-weight: bold; }

/* !Image Scaling */

.scale img, img.scale, object, embed { max-width: 100%; }
.scale img, img.scale { height: auto; }

/* !Clear Floats */

.group {
	 &:before, &:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
    } 
}

.ie6, .ie7 { .group { min-height: 1px; } }

/* !Layout */



/* !Smaller Screens */

@media screen and (max-width: 800px) {
	
	

}

@media screen and (max-width: 480px) {

	

}