/*
	File :: variables.less
	----------------------------------------------------------
	
	Author: Ryan Scherler
	
------------------------------------------------------------------------------- */

/* Colors */

@white:				#fff;
@offWhite:			#f3eee4;
@yellow:			#faeeac;
@black:				#333;