/*
	File :: variables.less
	----------------------------------------------------------
	
	Author: Ryan Scherler
	
------------------------------------------------------------------------------- */

/* Colors */

@white:				#fff;
@yellow:			#faeeac;
@black:				#222;
@black_rgba_10:		rgba(0, 0, 0, .10);

/* Asset Paths */

@images_path:		"../../images/";