/*
	File :: landing.less
	----------------------------------------------------------
	
	Author: Ryan Scherler
	
------------------------------------------------------------------------------- */

.featured-image {

	max-height: 30em; // 480 / 16	
	overflow: hidden;
	
	img {
		.inline-block;
		width: 100%;
	}
	
}

.main-content {
	position: relative;
	max-width: 1280px;
	background: @white;
	margin: -7.5em auto 5em auto;
	padding: 2.5em 0;
	.box-shadow(0 0 .5em @black_rgba_25);
}