/*
* Site Starter V1.0
* Author: Ryan Scherler
* www.crashpaddesign.com
* 04/15/2012
*/

/* !Imports */

@import url('//fonts.googleapis.com/css?family=Lato:400,700');
@import url('setup.css');
@import url('type.css');

/* !General */

body {
	background: #eee;
}

body, select, input, textarea {
	color: #222;
  	font: 100%/1.5em 'Lato', 'Calibri', 'Gill Sans MT', sans-serif;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
}

/* !Links */

a, a:link, a:visited {
	color: #990000;
	text-decoration: none;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

a:hover { color: #222; }

::-moz-selection{ background: #e3309f; color: #fff; text-shadow: none;}
::selection { background: #e3309f; color: #fff; text-shadow: none;} 

a:link { -webkit-tap-highlight-color: #e3309f;} 

/* !Content */



/* !Smaller Screens */

@media screen and (max-width: 800px) {

	

}

@media screen and (max-width: 480px) {

	.social .last { display: none; }
	
}

/* !Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	

}